.conteiner-contato {
    display: flex;
    flex-direction: column;
    padding: 180px;
    justify-content: space-between;
    gap: 100px;
}

.texto-contato {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 25px;
}

.icones-contato {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.icones-contato img {
    width: 60px;
    height: 60px;
}

.icones-contato img:hover {
    scale: 1.2;
}

.texto {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    display: flex;
    justify-content: center;
}

@media screen and (max-width:350px) {
    .texto-contato {
        font-size: 20px;
    }

    .texto {
       font-size: 24px;
       width: 300px;
       transform: translate(-50%,0);
    }
}