.conteiner-contato {
    display: flex;
    flex-direction: column;
    padding-top: 180px;
    justify-content: space-between;
    gap: 100px;
}

.texto-contato {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 25px;
}

.icones-contato {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.icones-contato img {
    width: 60px;
    height: 60px;
}

.icones-contato img:hover {
    scale: 1.2;
}

.texto {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    padding: 10px;
}



@media screen and (max-width:350px) {
    .texto-contato {
        font-size: 20px;
    }   
}



